<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestingCI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1CA566B2AF2B25C00E209B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1CA56802AF2B2C500E209B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1CA568D2AF2B2DF00E209B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
